/* Version Mobile */
.charlas{
    grid-area: evento;
    h4{
        margin-left: 50px;
        margin-top: 20px;
    }
    article{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 20px 0px 0px 50px;
    }
    img{
        width: 200px;
        box-shadow: 3px 2px 11px 2px #aeaeae;
    }
    div{
        padding-bottom: 60px;
        h3{
            text-decoration: none;
            color: map-get($colors, colorPrincipal);
            font-size: 15px;
            font-family: map-get($titulo, fontsTitulos);
            font-weight: 400;
            padding-top: 20px;
            position: relative;
            top: 10px;
            --color: map-get($colors, colorPrincipal);
            &::before{
                content: '';
                position: absolute;
                width: 90px;
                height: 60px;
                background: none;
                top: 5px;
                border-top: 3px solid var(--color);
            }
        }
    }
    a{
        text-decoration: none;
    }
}
/* Fin Version Mobile */

/* Version Tablet */
@media screen and (min-width: 600px){
    .charlas {
        article{
        flex-direction: row;
        flex-wrap: wrap;
        }
        img{
            width: 300px;
        }
        div{
        padding-right: 60px;
        }
    }
}
/* Fin Version Tablet */

/* Version Desktop */
@media screen and (min-width: 1200px){
    .charlas{
        img{
        width: 400px;
        }
        div{
            h3{
                font-size: 20px;
            }
        }
        h4{
            margin-top: 60px;
            margin-left: 80px;
        }
        article{
            margin-left: 110px;
            margin-bottom: 50px;
        }
    }
}
/* Fin Version Desktop */