/* Version Mobile */
.formularioContacto{
    grid-area: evento;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 30px;
    div{
        padding: 30px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        box-shadow: 2px 2px 11px 2px #e0e0e0;
        margin: 30px 50px 50px 30px;
    }
    p{
        font-size: 15px;
        color: #E63629;
        font-family: 'Lato', sans-serif;
        font-weight: 600;
        letter-spacing: 2;
        width: 300px;
    }
    form{
        fieldset{
            display: flex;
            flex-direction: column;
            font-size: 15px;
            color: #000;
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            letter-spacing: 2;
            border: none;
            label{
                margin: 20px 0px 10px 0px;
            }
            input{
                border: 1px solid rgb(70, 70, 70);
                border-radius: 10px;
                height: 50px;
                padding: 0px 0px 0px 15px;
            }
            textarea{
                border: 1px solid rgb(70, 70, 70);
                border-radius: 10px;
                height: 150px;
                padding: 10px 0px 0px 15px;
            }
        }
    }
}

.bottomEnviar{
    color: #ffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    margin-top: 20px;
    background-color: #E63629;
    padding: 8px 20px 8px 20px;
    border-radius: 8px;
    border: transparent;
    transition: 0.3s ease;
    &:hover{
        transform: scale(1.2 , 1.2);
    }
}
/* Fin Version Mobile */

/* Version Tablet */
@media screen and (min-width: 600px){
    .formularioContacto div{
        margin: 30px 50px 50px 180px;
    }
}
/* Fin Version Tablet */

/* Version Desktop */
@media screen and (min-width: 1200px){
    .formularioContacto {
        div{
        margin: 30px 600px 100px 300px;
            form{
            margin-left: 30px;
            margin-bottom: 30px;
            }
        }
        p{
            font-size: 30px;
            font-weight: 600;
            letter-spacing: 2;
            width: 410px;
            padding: 35px;
        }
    }
}
/* Fin Version Desktop */