/* Version Mobile */
.equipo{
    grid-area: evento;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
    }
    img{
        width: 150px;
        border-radius: 106px;
        padding: 3px;
        border: 3px dotted map-get($colors, colorEquipo);
        transition: 0.3s;
        &:hover{
            transform: rotate(15deg) scale(1.1, 1.1);
            border: 5px dotted map-get($colors, colorPrincipal);
        } 
    }
    h3{
        text-decoration: none;
        color: map-get($colors, colorSecundario);
        font-size: 15px;
        font-family: map-get($titulo, fontsTitulos);
        font-weight: 600;
        margin-top: 10px;
    }
    h3{
        color:map-get($colors, colorEquipo);
        font-size: 12px;
        font-family: map-get($titulo, fontsTitulos);
        font-weight: 400;
        letter-spacing: 2;
        margin-top: 2px;
    }
}
/* Fin Version Mobile */

/* Version Tablet */
@media screen and (min-width: 600px){
    .equipo{
        margin-top: 20px;
        margin-bottom: 20px;
        img{
            width: 200px;
        }
        h3{
            font-size: 18px;
        }
        a{
            font-size: 15px;          
        }
    }
}
/* Fin Version Tablet */

/* Version Desktop */
@media screen and (min-width: 1200px){
    .equipo{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 30px 100px 80px 100px;
        div{
            margin-bottom: 50px;
        }
        img{
            width: 230px;
            border-radius: 150px;
        }
        h3{
            font-size: 20px;
        }
        a{
            font-size: 16px;
        }
    }
}
/* Fin Version Desktop */