.footer{
    display: flex;
    background-color: map-get($colors, colorSecundario);
    height: 80px;
    grid-area: footer;
    justify-content: space-between;
    width: 1fr;
    align-items: center;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    color: map-get($colors, colorHome);
    img{
        padding-right: 10px;
    }
    div{
        display: flex;
        justify-content: center;
        text-decoration: none;
        a{
            img{
                padding: 3px;
                width: 25px;
            }
        }
    }
}
/* Version Tablet */
@media screen and (min-width: 600px){
    .footer{
        font-size: 15px;
        img{
            padding-right: 0px;
        }
    }
}
/* Fin Version Tablet */
/* Version Desktop */
@media screen and (min-width: 1200px){
    .footer{
        font-size: 18px;
        img{
            margin-left: 15px;
        }
        div{
            margin-right: 15px;
        }
    }
}
/* Fin Version Desktop */