.footer{
    display: flex;
    background-color: map-get($colors, colorSecundario);
    height: 80px;
    grid-area: footer;
    justify-content: space-between;
    width: 1fr;
    align-items: center;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    color: map-get($colors, colorHome);
    div{
        display: flex;
        justify-content: center;
        text-decoration: none;
        a{
            img{
                padding: 3px;
            }
        }
    }
}