.header {
    background-color: #ffff;
    grid-area: header;
    display: flex;
    height: 40px;
    box-shadow: 0px 3px 5px #B2B2B2;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
}
.menu {
    background-color: red;
}
.menu-check {
    background-color: aqua;
}

/* Version Tablet */
@media screen and (min-width: 600px){
    .menu{
        display: none;
    }
    .menu-check{
        display: none;
    }
}
/* Fin Version Tablet */

/* Version Desktop */
@media screen and (min-width: 1200px){
    .menu{
        display: none;
    }
    .menu-check{
        display: none;
    }
}
/* Fin Version Desktop */