$colors: (
    titulosHome: #ffff,
    titulosPaginas: #0000,
    colorPrincipal: #E63629,
    colorEquipo: #00cddc,
    colorDegradado: linear-gradient(45deg, #E63629, #000000),
)

$titulos: (
    tituloHome: 35px, 
    tipoTitulos: 'Lato', sans-serif,
)

$borders: (
    borderRadius: 8px,
)