$colors: (
    colorHome: #ffffff,
    colorSecundario: #000000,
    colorPrincipal: #E63629,
    colorEquipo: #00cddc,
    colorDegradado: linear-gradient(45deg, #E63629, #000000),
);

$titulo: (
    fontsTitulos: 'Lato',
);

$borders: (
    borderRadius: 8px,
);