/* Version Mobile */
    $color: #ffff;
    $display: inline;
    $font-size: 35px;
    $letter-spacing: -2px;
    $font-family: 'Lato', sans-serif;
    $font-weight: 100;
    $margin-left: 40px;
    $margin-top: 50px;
    $--color: #E63629;
    &:before{
        content: '';
        $position: absolute;
        $width: 50px;
        $height: 60px;
        $background: none;
        $left: 30px;
        $border-bottom: 4px solid var(--color);
    }

/*Fin Version Mobile */