@import "./partials/maps", "./partials/header", "./partials/nav","./partials/index", "./partials/footer", "./partials/eventos", "./partials/contacto","./partials/charlas","./partials/tedx","./partials/equipo";

/* Version Mobile */
.bottom{
    color: #ffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    position: relative;
    top: 20px;
    background-color: #E63629;
    padding: 8px 20px 8px 20px;
    border-radius: 8px;
    border: transparent;
    cursor: pointer;
    transition: 0.3s ease;
    &:hover{
        transform: scale(1.2 , 1.2);
        color: #E63629;
        background-color: #ffff;
    }
}

.titulosDos{
    display: inline-block;
    width: 200px;
    color: #000;
    font-size: 35px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    letter-spacing: -3px;
    padding: 20px;
    margin-left: 30px;
    --color: #E63629;
    z-index: 1;
}
.titulosDos::before{
    content: '';
    position: absolute;
    width: 80px;
    height: 60px;
    background: none;
    top: 120px;
    left: 40px;
    border-bottom: 4px solid var(--color);
}
.parrafo{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 30px;
    margin: 20px 30px 20px 30px;
}
.titulos{
    color: #ffff;
    display: inline;
    font-size: 35px;
    letter-spacing: -2px;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    margin-left: 40px;
    margin-top: 50px;
    --color: #E63629;
}
.titulos::before{
    content: '';
    position: absolute;
    width: 50px;
    height: 60px;
    background: none;
    left: 30px;
    border-bottom: 4px solid var(--color);
}

/* Fin Version Mobile */

/* Version Tablet */
@media screen and (min-width: 600px){
    .parallax {
        background-image: url("../Images/fondo-tablets-600.png");
    }
    .titulos{
        font-size: 45px;
        letter-spacing: -3px;
    }
}
/* Fin Version Tablet*/

/* Version Desktop */
@media screen and (min-width: 1200px){
    .parallax {
        background-image: url("../Images/fondo-desktop-1200.png");
    }
    .titulos{
        font-size: 55px;
        font-family: 'Lato', sans-serif;
        font-weight: 100;
        letter-spacing: -5px;
        position: relative;
        top: 30px;
        left: 250px;
        --color: #E63629;
    }
    .titulos::before {
        width: 90px;
        height: 60px;
        top: 15px;
        left: -15px;
    }
    .parrafo{
        display: block;
        width: 700px;
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        line-height: 40px;
    }
    .titulosDos{
        margin-left: 200px;
    }
    .titulosDos::before{
        content: '';
        position: relative;
        width: 80px;
        height: 60px;
        background: none;
        border-bottom: 4px solid var(--color);
    }
}
/* Fin Version Desktop */